html, body
  width: 100%
  height: 100%
  margin: 0

body
  background-image: url("./img/background.svg")
  background-size: cover


//#########################################################
// main

#main
  width: 100%
  max-width: 1600px
  height: 100%
  margin: 0 auto
  position: relative


//#########################################################
// footer

footer
  width: 100%
  height: 8vh
  color: rgba(255, 255, 255, 0.7)
  background: #090404
  position: fixed
  bottom: 0

  display: flex
  justify-content: space-between
  align-items: center

  & > a
    font-size: 4vh
    color: rgba(255, 255, 255, 0.7)
    text-decoration: none
    display: block
    margin-left: 2%

  address
    margin-right: 2%

    & > a
      color: alpha(#6197a6, 0.8)


//#########################################################
// index.html

#main p
    position: absolute

#logo
  position: absolute
  left: 6%
  top: 8%
  width: 40%

#slider-area
  position: absolute
  bottom: 12vh
  right: 6%
  width: 80%
  max-width: 1000px
  text-align: right
  // background: rgba(0, 0, 0, 0.3)
  // border-radius: 15px

#vine
  width: 100%
  max-width: 600px

#slider-container
  display: flex
  align-items: center
  text-align: center

#slider-left-arrow
#slider-right-arrow
  width: 40px
  margin: 0 10px

#slider
  flex-grow: 1
  height: 20vh
  max-height: 200px
  width: calc(100% - 100px)

  a
    display: block
    height: 20vh
    max-height: 200px
    margin: 0 20px
    background: rgba(0, 0, 0, 0.3)
