html, body
  width: 100%
  height: 100%
  margin: 0

body
  background-image: url("./img/background.svg")
  background-size: cover


//#########################################################
// code片

anim-bg-code(n)
  animation-name bg-code
  animation-duration 70s
  animation-timing-function linear
  animation-delay (70 * (n - 1) / 12)s
  animation-fill-mode both
  animation-direction normal
  animation-iteration-count infinite
@keyframes bg-code
  0%
    transform rotateZ(-15deg)translateX(-10vw)
    opacity 0
  6%
    opacity 1
  30%
    opacity 1
  40%
    transform rotateZ(120deg)translateX(10vw)
    opacity 0
  100%
    opacity 0

#background-code
  position absolute
  width 100%
  height 100%
  overflow hidden
  opacity 0.5

  img
    display block
    width 70vw
    height auto
    position absolute
    right 20%
    top 55%
    transform-origin right
    for i in 1..12
      &:nth-child({i})
        anim-bg-code(i)


//#########################################################
// main

#main
  width: 100%
  max-width: 1600px
  height: 100%
  margin: 0 auto
  position: relative


//#########################################################
// footer

footer
  width: 100%
  height: 8vh
  color: rgba(255, 255, 255, 0.7)
  background: #090404
  position: fixed
  bottom: 0

  display: flex
  justify-content: space-between
  align-items: center

  & > a
    font-size: 4vh
    color: rgba(255, 255, 255, 0.7)
    text-decoration: none
    display: block
    margin-left: 2%

  address
    margin-right: 2%

    & > a
      color: alpha(#6197a6, 0.8)


//#########################################################
// cover

anim-cover-down-in(delay, timing-func = ease)
  animation-name down-in
  animation-duration 0.5s
  animation-timing-function timing-func
  animation-delay (delay)s
  animation-fill-mode both
@keyframes down-in
  0%
    transform translateY(-100%)
  100%
    transform translateY(0)

cover-base()
  position absolute
  width 100%
  height 100%
  transform translateY(-100%)
cover(color1, color2, color3)
  cover-base()
  z-index 1
  background-color color1
  &::before
  &::after
    cover-base()
    content " "
    z-index -1
  &::before
    background-color color2
  &::after
    background-color color3
cover1-anim(classname, anim-name)
  &.{classname}
    anim-name 0
    &::before
      anim-name 0.15
    &::after
      anim-name 0.25
cover2-anim(classname,anim-name)
  .{classname} &
    anim-name 0.35
    &::before
      anim-name 0.45
    &::after
      anim-name 0.55 ease-in-out

#cover1
  cover #411c2e #cb5d6a #402925
  cover1-anim down-in anim-cover-down-in
#cover2
  cover #f0831e #6197a6 #85a029
  cover2-anim down-in anim-cover-down-in


//#########################################################
// index.html

#main p
    position: absolute
    text-align: center
    display: block
    width: 30%
    left: 10%
    top: 48%
    font-size: 1.5rem

#logo
  position: absolute
  left: 6%
  top: 8%
  width: 40%

#slider-area
  position: absolute
  bottom: 12vh
  right: 6%
  width: 80%
  max-width: 1000px
  text-align: right
  // background: rgba(0, 0, 0, 0.3)
  // border-radius: 15px

#vine
  width: 100%
  max-width: 600px

#slider-container
  display: flex
  align-items: center
  text-align: center

#slider-left-arrow
#slider-right-arrow
  width: 40px
  margin: 0 10px

#slider
  flex-grow: 1
  height: 20vh
  max-height: 200px
  width: calc(100% - 100px)

  a
    display: block
    height: 20vh
    max-height: 200px
    margin: 0 20px
    background: rgba(0, 0, 0, 0.3)
